@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }

  .page-container {
    @apply w-full max-w-7xl mx-auto xl:px-4 px-8;
  }
}

.btn,
.chip {
  transition: all 0.3s;

  &:hover {
    @apply text-white bg-black;
  }

  &--black {
    &:hover {
      @apply text-black bg-white;
    }
  }
}

.nav-link {
  transition: all 0.3s;

  &:hover {
    color: black;
  }
}

.hero {
  background-image: url("./images//photo-1647412983566-1957e341807c.avif");
  background-position: center;
  background-size: cover;
}

.item-cart {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (min-width: 968px) {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.contact-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 968px) {
    max-width: 75%;
    grid-template-columns: 1fr 2fr;
  }
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
